<hr />
<div class="container">
    <h4>New Market Prices Form</h4>
</div>
<hr />

<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="form-group text-right">
      <label class="block mb-2 text-sm font-bold text-gray-700">
        Upload from file
        <button type="submit" class="btn btn-primary mr-1">upload</button>
      </label>
    </div>
    <div class="card">
      <div class="card-header">
        <h5>Market Prices Details</h5>
      </div>
      <app-product-form (onDataPicked)="receiveMsg($event)"></app-product-form>
      <div class="card-body">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="px-8 pt-6 pb-8 mb-4 bg-white rounded shadow-md">
          <div class="form-group text-right">
            <button type="submit" class="btn btn-primary mr-2">Publish</button>
            <button type="button" class="btn btn-danger" (click)="cancel()">
              Save Draft
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>